[submodule "models/segmentation_models_pytorch"]
	path = models/segmentation_models_pytorch
	url = https://github.com/david08111/segmentation_models_pytorch.git
[submodule "utils/panopticapi"]
	path = utils/panopticapi
	url = https://github.com/david08111/panopticapi.git
[submodule "models/segformer_models"]
	path = models/segformer_models
	url = https://github.com/david08111/segformer.git
[submodule "models/mmsegmentation"]
	path = models/mmsegmentation
	url = https://github.com/david08111/mmsegmentation.git
